:root {
    --white: #fff9fa;
    --green: #2be92b;
    --red: #ec202e;
    --darkgrey: #312f2f;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background:darkgrey

}

/* header styles */

header {
    background-color: transparent;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

header a {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
    text-decoration: none;
    color: var(--darkgrey);
    padding: 10px 15px;
}

header a:hover {
    background-color: #67128f;
    color: var(--white);
    border-radius: 10px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    list-style: none;
}

span {
    color: var(--darkgrey);
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
    padding: 10px 15px;
}

/* questions container */

.container {
    margin: 0px auto;
    padding: 50px;
    display: flex;
    width: 800px;
    max-width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
}

h2 {
    font-size: 36px;
    letter-spacing: -1px;
    color: var(--darkgrey);
    text-align: left;
    margin-bottom: 20px;
}

/* intro content */

.intro p {
    font-size: 18px;
    text-align: center;
    line-height: 2em;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 44px;
    letter-spacing: -2px;
    color: var(--darkgrey);
    text-align: center;
    margin-bottom: 20px;
}

/* score page when quiz ends */

.outro {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 2em;
}

.outro h2 {
    font-size: 44px;
    letter-spacing: -2px;
    color: var(--darkgrey);
    text-align: center;
    margin-bottom: 20px;
}

.outro span#high-score {
    color: var(--darkgrey);
    font-weight: bold;
    line-height: 2em;
    padding: 0;
}

.outro label {
    margin: 0 5px;
    font-weight: normal;
}

.outro input {
    background-color: #ffffff;
    border: 1px solid #95bfce;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--darkgrey);
    border-radius: 5px;
}

.outro .submit-btn {
    background-color: #568ea3;
    border: 1px solid #568ea3;
    border-radius: 10px;
    width: auto;
    display: inline-block;
    color: var(--white);
    font-size: 16px;
    margin: 5px;
    padding: 7px 15px;
    text-align: center;
    cursor: pointer;
}

.outro .submit-btn:hover {
    background-color: #95bfce;
    border: 1px solid #95bfce;
}

/* buttons */

.btn-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #5c0a83;
    border:darkgrey;
    border-radius: 50px;
    width: 100%;
    display:ruby-base; align-self: center;
    color: var(--white);
    font-size: 22px;
    margin: 5px;
    padding: 30px 30px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color:darkgrey;
}

.start-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 20px 30px;
}
  
button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.container .navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hide {
    display: none;
}

/* footer */

footer {
    margin: 40px auto;
    font-size: 40px;
    letter-spacing: -1px;
    text-align: center;
    font-weight: none;
}

/* highscores.html css  */

.highscores-display ul {
    margin: 20px auto;
    width: 50%;
    list-style: none;
}

.highscores-display ul li:hover {
    background-color: #9ea2a3;
}

.highscores-display li {
    font-size: 18px;
    line-height: 2em;
    background-color: #efefef;
    padding: 10px;
    list-style: decimal inside none;
}

.highscores-display li:nth-child(odd) {
    background-color: #6948b4;
  }

.highscores-display .btn {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    background-color: #4a1686;
    border: none;
    border-radius: 10px;
    width: 30%;
    display: inline-block;
    color: var(--white);
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.highscores-display .btn:hover {
    background-color: #730396;
}