header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.see-score:hover {
    background-color: black;
    color: white;
}


main {
    text-align: center;
}

.opening-text {
    font-size: 1.3em;
}

.question {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    border-radius: 5px;
    font-size: 15.rem;
    margin: 5px;
}
